<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="style/normalize.css" />
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body>
    <div class="container">
      <figure class="grid-item">
        <img
          src="https://source.unsplash.com/collection/190727/800x600?1"
          alt="A random picture"
        />
      </figure>
      <figure class="grid-item item-two">
        <img
          src="https://source.unsplash.com/collection/190727/800x600?2"
          alt="A random picture"
        />
      </figure>
      <figure class="grid-item">
        <img
          src="https://source.unsplash.com/collection/190727/800x600?3"
          alt="A random picture"
        />
      </figure>
      <figure class="grid-item">
        <img
          src="https://source.unsplash.com/collection/190727/800x600?4"
          alt="A random picture"
        />
      </figure>
      <figure class="grid-item">
        <img
          src="https://source.unsplash.com/collection/190727/800x600?5"
          alt="A random picture"
        />
      </figure>
      <figure class="grid-item">
        <img
          src="https://source.unsplash.com/collection/190727/800x600?6"
          alt="A random picture"
        />
      </figure>
      <figure class="grid-item">
        <img
          src="https://source.unsplash.com/collection/190727/800x600?7"
          alt="A random picture"
        />
      </figure>
      <figure class="grid-item">
        <img
          src="https://source.unsplash.com/collection/190727/800x600?8"
          alt="A random picture"
        />
      </figure>
      <figure class="grid-item">
        <img
          src="https://source.unsplash.com/collection/190727/800x600?9"
          alt="A random picture"
        />
      </figure>
    </div>
  </body>
</html>
