html,
body {
  color: white;
  text-align: center;
  font-size: 62.5%;
  background: url(../images/background_w1440.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (max-width: 320px) {
  body {
    background: url(../images/background_w320.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

@media screen and (min-width: 320px) and (max-width: 853px) {
  body {
    background: url(../images/background_w853.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

@media screen and (min-width: 853px) and (max-width: 1228px) {
  body {
    background: url(../images/background_w1228.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.label {
  font-family: "Nunito", sans-serif;
  font-size: 9.653rem;
  text-shadow: 2px 2px 0 #000;
}

.detail {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
}
